.row {
  display: flex;
}

.cell {
  $pixel: 10px;
  min-width: $pixel;
  max-width: $pixel;
  min-height: $pixel;
  max-height: $pixel;
  overflow: hidden;

  display: flex;
  justify-content: center;
  align-items: center;

  //   border: 1px solid purple;
}
